# environments
/.venv*
/venv*
/.ot-webui-venv*
/conda_env*
/.ot-webui-conda*
.python-version
*.egg-info
/.trae*
# logs
/logs/
*.log

# WebUI Data & Cache
/.ot-webui/
/train_config_schema.json

# weights
/models/
/output/

# OS/IDE
.DS_Store
.vscode/
.idea/
